$color_1: #000;
$color_2: #ffffff;
$color_3: white;
$color_4: #fff;
$color_5: #ec981a;
$color_6: #828282;
$font-family_1: "Bebas Neue", sans-serif;
$font-family_2: 'articulat CF', sans-serif;
$font-family_3: articulat CF;
$font-family_4: "articulat CF";
$background-color_1: #fff;
$background-color_2: #ec981a;
$background-color_3: #0f0f0fe3;
$background-color_4: #000;
$background-color_5: #000000;
$background-color_6: #e5ddd2;
$background-color_7: #ffffff;
$background-color_8: #eee4e4;

@font-face {
	font-family: "articulat CF";
	src: url(/fonts/articulat/ArticulatCF-Normal.otf) format(otf);
	font-weight: normal;
}
@font-face {
	font-family: "articulat CF";
	src: url(/fonts/articulat/ArticulatCF-Bold.otf) format(otf);
	font-weight: bold;
}
/* ////////////////////////fade for first grid///////////////// */
/* //////////////////////fade end////////////////// */
/* .fixed-background .fade-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
    z-index: -1;
} */
/* .hero-img{
    align-items: center;
    text-align: center;
} */
/* .hero-img img{
width: 700px;

} */
/* ///////////////////second section///////////////// */
/* ///////////////////section 3////////////////// */
/* //////////////////////////////section 4//////////////// */
/* ////////////////////////section 5//////////////// */
/* //////////////watch section///////////////// */
/* ............................................. */
/* //////////////////////////////////sixth section///////////////////// */
/* ////////////////////////////////////SIXTH SECTION END//////////////////// */
/* ////////////////////suscribe section////////// */
/* ////////////////////suscribe section end////////// */
/* /////////////contact /////////////// */
/* ///////////////////////////// */
/* //////////////////////responsive/////////////////////// */
/* //////////////////////first section//////////////// */
/* .resize-menu{
        display: block;
    } */
/* ///////////////////second section///////////////// */
/* //////////////////third section/////////////// */
/* ////////////////////////fourth section/////////// */
/* ////////////////////////fifth section////////////////// */
/* //////////////////////////////////sixth section///////////////////// */
/* ////////////////////suscribe section////////// */
/* /////////////contact /////////////// */
/* //////////////////////first section//////////////// */
/* ///////////////////second section///////////////// */
/* //////////////////third section/////////////// */
/* ////////////////////////fourth section/////////// */
/* ////////////////////////fifth section////////////////// */
/* ////////////////////////video section///////////////// */
/* //////////////////////////////////sixth section///////////////////// */
/* ////////////////////suscribe section////////// */
/* /////////////contact /////////////// */
/* //////////////////////////////section 4//////////////// */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: $font-family_1;
}
html {
	height: 100%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
body {
	height: 100%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
h1 {
	font-family: $font-family_1;
	font-weight: 400;
	font-style: normal;
}
h2 {
	font-family: $font-family_1;
	font-weight: 400;
	font-style: normal;
}
h3 {
	font-family: $font-family_1;
	font-weight: 400;
	font-style: normal;
}
h4 {
	font-family: $font-family_1;
	font-weight: 400;
	font-style: normal;
}
h5 {
	font-family: $font-family_1;
	font-weight: 400;
	font-style: normal;
}
h6 {
	font-family: $font-family_1;
	font-weight: 400;
	font-style: normal;
}
p {
	font-family: $font-family_2;
	text-transform: uppercase;
	color: $color_4;
}
.fade-in {
	opacity: 0;
	transform: translateY(100px);
	transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.fade-in.visible {
	opacity: 1;
	transform: translateY(0);
}
.fade-in1 {
	opacity: 0;
	transform: translateY(100px);
	transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.fade-in1.visible {
	opacity: 1;
	transform: translateY(0);
}
.fade-in2 {
	opacity: 0;
	transform: translateY(100px);
	transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}
.fade-in2.visible {
	opacity: 1;
	transform: translateY(0);
}
.fade-in3 {
	opacity: 0;
	transform: translateY(100px);
	transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
.fade-in3.visible {
	opacity: 1;
	transform: translateY(0);
}
.fade-in4 {
	opacity: 0;
	transform: translateY(100px);
	transition: opacity 0.9s ease-out, transform 0.9s ease-out;
}
.fade-in4.visible {
	opacity: 1;
	transform: translateY(0);
}
header {
	height: 6vh;
	width: 100%;
	background-color: $background-color_1;
	display: flex;
	justify-content: space-between;
	padding-left: 25px;
	align-items: center;
	font-weight: bold;
	img {
		height: 50px;
	}
	.menu {
		ul {
			display: flex;
			gap: 15px;
			text-decoration: none;
			li {
				text-decoration: none;
				list-style: none;
				a {
					text-decoration: none;
					list-style: none;
					padding-inline: clamp(2rem,4vw, 9rem);
					font-family: $font-family_3;
					font-size: 16px;
					color: $color_1;
				}
			}
		}
	}
	button {
		height: 100%;
		padding: 5px 15px;
		font-family: $font-family_3;
		font-size: 16px;
		border: none;
		background-color: $background-color_2;
		font-weight: bold;
		cursor: pointer;
	}
}
.resize-header {
	z-index: 999;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	padding: 10px 25px;
	background: none;
	position: fixed;
	display: none;
	margin-top: 15px;
	img {
		height: 40px;
	}
	a {
		text-decoration: none;
		list-style: none;
		font-family: $font-family_3;
		font-size: 14pt;
		font-weight: 500;
		color: $color_2;
		background-color: $background-color_2;
		border: none;
		border-radius: 5px;
		padding: 5px 10px;
		margin-right: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.resize-menu {
	ul {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-decoration: none;
		align-items: center;
		text-align: center;
		gap: 3rem;
		li {
			text-decoration: none;
			list-style: none;
			a {
				text-decoration: none;
				list-style: none;
				padding-inline: clamp(2rem,4vw, 9rem);
				font-family: $font-family_3;
				font-size: 14pt;
				font-weight: 500;
				color: $color_2;
			}
		}
	}
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: $background-color_3;
	height: 500px;
	width: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem 2rem 3rem;
	border-radius: 10px;
	z-index: 1000;
	.close {
		text-decoration: none;
		list-style: none;
		font-family: $font-family_3;
		font-size: 14pt;
		font-weight: 500;
		color: $color_2;
		background-color: $background-color_2;
		border: none;
		border-radius: 5px;
		padding: 1rem 2rem;
	}
}
#blur-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(5px);
	z-index: 999;
	transition: opacity 0.3s ease;
}
.hidden {
	display: none;
	opacity: 0;
}
.main {
	width: 100%;
	height: 100vh;
	position: relative;
	background-image: url(images/background.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	overflow: hidden;
	h5 {
		font-family: $font-family_1;
		font-style: normal;
		color: $color_4;
		margin-top: 30px;
		font-size: 40px;
		font-weight: 500;
	}
	.locate {
		color: $color_5;
	}
	button {
		color: $color_4;
		font-family: $font-family_3;
		font-size: 16px;
		font-weight: bold;
		border: none;
		background-color: $background-color_2;
		padding: 10px 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 15px;
		margin-top: 25px;
		cursor: pointer;
		img {
			height: 20px;
			margin-bottom: 3px;
		}
	}
}
.fixed-background {
	.overlay {
		position: relative;
		width: 100%;
		height: 60%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: $color_3;
		text-align: center;
		z-index: 1;
	}
	.fade-image {
		transition: opacity 0.5s ease-in-out;
		width: 700px;
		height: auto;
	}
}
.horizontal-line {
	margin: 15px 2px;
	width: 250px;
	height: 4px;
	border-radius: 5px;
	background-color: $background-color_2;
}
.second-sect {
	height: 50vh;
	min-height: 20vh;
	padding: 20px;
	background-image: url(images/second-bg.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 10rem;
	h1 {
		text-transform: uppercase;
		color: $color_4;
		font-size: 6rem;
		font-weight: 500;
		line-height: 6rem;
	}
	p {
		font-family: $font-family_4;
		font-weight: bold;
		margin-top: 10px;
		font-size: 14pt;
		line-height: 25px;
	}
}
.third-sect {
	height: 25vh;
	width: 100%;
}
.grid-container {
	height: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.grid-item {
	position: relative;
	background-size: cover;
	background-position: start center;
	height: 100%;
	color: $color_3;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5em;
	font-weight: bold;
}
.item1 {
	background-image: url(images/grid1.png);
}
.item2 {
	background-image: url(images/grid2.png);
}
.item3 {
	background-image: url(images/grid3.png);
}
.item4 {
	background-image: url(images/grid4.png);
}
.contents {
	margin-top: 45px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 5px 15px;
	h2 {
		font-size: 3rem;
		font-weight: 100;
	}
	p {
		font-family: $font-family_3;
		text-transform: none;
		font-weight: 300;
		font-size: 14pt;
		line-height: 25px;
		width: 75%;
	}
}
.fourth-sect {
	height: 65vh;
	background-color: $background-color_4;
	display: flex;
	background-attachment: fixed;
	justify-content: center;
	align-items: center;
	padding: 3rem 150px 2rem 0;
	h2 {
		color: $color_5;
		font-size: 2.5rem;
		font-weight: 100;
	}
	p {
		font-family: $font-family_3;
		text-transform: none;
		font-size: 14pt;
		line-height: 25px;
		width: 60%;
	}
}
.speaker-img {
	width: 700px;
	height: 90%;
	background-image: url(images/speaker.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	margin-right: 5rem;
}
.fourth-cont {
	margin-top: 15px;
}
.fifth-sect {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3rem 25px 1rem;
	background-image: url(images/bg8.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
	h1 {
		color: $color_1;
		font-size: 5rem;
		font-weight: 100;
	}
	img {
		width: 350px;
		margin-bottom: 25px;
	}
	h2 {
		color: $color_5;
		font-size: 3rem;
		font-weight: 100;
	}
}
.grid-items {
	background-color: $background-color_2;
	border-radius: 5px;
	padding: 10px 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: left;
	gap: 25px;
	h1 {
		font-size: 8rem;
	}
	p {
		font-family: $font-family_3;
		text-transform: none;
		color: $color_1;
		font-size: 14pt;
		line-height: 25px;
	}
}
.new-grid {
	width: 70%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
	padding: 20px;
}
.watch {
	height: auto;
	min-height: 100vh;
	padding: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: $font-family_3;
	background-color: $background-color_4;
}
.sixth-sect {
	height: 55vh;
	background-image: url(images/bg7.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 15px 6rem;
}
.sect6-img {
	height: 100%;
	img {
		width: auto;
		max-width: 500px;
	}
}
.sixth-writeup {
	h1 {
		color: $color_4;
		font-size: 5rem;
		font-weight: 100;
	}
	p {
		font-family: $font-family_3;
		text-transform: none;
		font-size: 14pt;
		line-height: 25px;
		width: 700px;
		font-weight: 500;
	}
	button {
		color: $color_4;
		font-family: $font-family_3;
		font-size: 16px;
		font-weight: bold;
		border: none;
		background-color: $background-color_5;
		padding: 10px 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 15px;
		margin-top: 25px;
		cursor: pointer;
		img {
			height: 20px;
			margin-bottom: 3px;
		}
	}
}
.subscribe {
	height: 35vh;
	background-color: $background-color_6;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	form {
		display: flex;
		gap: 10px;
	}
	input {
		font-family: $font-family_3;
		font-size: 14pt;
		padding: .5rem 2px .5rem 10px;
		outline: none;
		border: none;
	}
	button {
		font-family: $font-family_3;
		font-size: 14pt;
		padding: .5rem 1rem;
		outline: none;
		border: none;
		font-weight: bold;
		background-color: $background-color_2;
		color: $color_4;
		cursor: pointer;
	}
}
.sub-writeups {
	align-items: center;
	text-align: center;
	h2 {
		margin-bottom: 10px;
		color: $color_5;
		font-size: 3rem;
		font-weight: 100;
	}
	p {
		font-family: $font-family_3;
		text-transform: none;
		font-size: 14pt;
		line-height: 25px;
		font-weight: 400;
		margin-bottom: 15px;
		color: $color_1;
	}
}
.contact2 {
	height: 50vh;
	background-color: $background-color_7;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding-bottom: 0;
	margin-bottom: 0;
	input {
		font-family: $font-family_3;
		font-size: 14pt;
		padding: .5rem 2px .5rem 10px;
		outline: none;
		border: none;
		background-color: $background-color_8;
		width: 16rem;
	}
	button {
		font-family: $font-family_3;
		font-size: 14pt;
		padding: .5rem 3rem;
		outline: none;
		border: none;
		font-weight: bold;
		background-color: $background-color_2;
		color: $color_4;
		cursor: pointer;
	}
}
#contact {
	form {
		display: flex;
		flex-direction: column;
		gap: 15px;
		align-items: center;
	}
}
.group {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
.acknowledge {
	font-family: $font-family_3;
	text-transform: none;
	font-size: 11pt;
	line-height: 20px;
	font-weight: 400;
	margin-bottom: 15px;
	color: $color_6;
	width: 750px;
}
footer {
	background-color: $background-color_4;
	height: 25vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding-top: 2.5rem;
	text-align: center;
	h5 {
		font-family: $font-family_3;
		color: $color_4;
		letter-spacing: 1px;
		font-size: 1rem;
		line-height: 25px;
		font-weight: 400;
		a {
			font-family: $font-family_3;
			text-decoration: none;
			color: $color_4;
			letter-spacing: 1px;
			font-size: 1rem;
		}
	}
	p {
		font-family: $font-family_3;
		text-transform: none;
		font-size: 11pt;
		line-height: 20px;
		font-weight: 400;
	}
}
.social {
	display: flex;
	gap: 15px;
	a {
		text-decoration: none;
	}
}
@media (max-width:768px) {
	header {
		display: none;
	}
	.resize-header {
		display: block;
	}
	.main {
		height: auto;
		min-height: 100vh;
		padding-bottom: 25px;
		.hero-img {
			img {
				width: 350px;
			}
		}
		h5 {
			color: $color_4;
			margin-top: 30px;
			font-size: 30px;
			font-weight: 500;
		}
	}
	.fixed-background {
		.overlay {
			position: relative;
			width: 100%;
			height: auto;
		}
	}
	.second-sect {
		height: auto;
		min-height: 30vh;
		align-items: center;
		text-align: center;
		width: 100%;
		padding: 20px;
		background-position: center right;
		h1 {
			text-transform: uppercase;
			color: $color_4;
			font-size: 3rem;
			font-weight: 500;
			line-height: 3rem;
			width: 350px;
			br {
				display: none;
			}
		}
		p {
			font-family: $font-family_4;
			font-weight: bold;
			margin-top: 10px;
			font-size: 12pt;
			line-height: 25px;
		}
	}
	p {
		text-transform: uppercase;
		color: $color_4;
	}
	.third-sect {
		height: auto;
		width: 100%;
	}
	.grid-container {
		height: 100%;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
	.grid-item {
		height: 400px;
	}
	.contents {
		h2 {
			font-size: 2.4rem;
			font-weight: 100;
		}
		p {
			font-weight: 300;
			font-size: 12pt;
			line-height: 25px;
			width: 75%;
		}
	}
	.fourth-sect {
		height: auto;
		min-height: 65vh;
		flex-direction: column;
		padding: 3rem 3rem;
		h2 {
			color: $color_5;
			font-size: 2rem;
			font-weight: 100;
		}
		p {
			font-size: 12pt;
			line-height: 25px;
			width: 100%;
		}
	}
	.speaker-img {
		display: none;
	}
	.fourth-cont {
		margin-top: 15px;
		width: 100%;
	}
	.fifth-sect {
		height: auto;
		min-height: 100vh;
		text-align: center;
		align-items: center;
		h1 {
			font-size: 3rem;
			font-weight: 100;
			line-height: 3rem;
		}
		img {
			width: 300px;
			margin-bottom: 25px;
		}
		h2 {
			font-size: 2rem;
		}
	}
	.grid-items {
		padding: 25px;
		height: auto;
		min-height: 300px;
		h1 {
			font-size: 8rem;
		}
		p {
			font-size: 12pt;
			line-height: 25px;
			text-align: left;
		}
	}
	.new-grid {
		width: 90%;
		grid-template-columns: repeat(1, 1fr);
	}
	.sixth-sect {
		height: auto;
		min-height: 40vh;
		flex-direction: column;
		padding: 15px 3rem;
	}
	.sect6-img {
		display: none;
	}
	.sixth-writeup {
		h1 {
			color: $color_4;
			font-size: 3rem;
			font-weight: 100;
		}
		p {
			font-size: 12pt;
			line-height: 25px;
			width: 100%;
		}
	}
	.subscribe {
		height: auto;
		min-height: 45vh;
		padding: 25px;
		form {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}
		input {
			font-size: 12pt;
			padding: .5rem 2px .5rem 10px;
		}
		button {
			font-size: 12pt;
			padding: .5rem 1rem;
		}
	}
	.sub-writeups {
		align-items: center;
		text-align: center;
		padding: 0 25px;
		h2 {
			font-size: 2rem;
		}
		p {
			font-size: 12pt;
			line-height: 25px;
		}
	}
	.contact2 {
		height: auto;
		min-height: 50vh;
		padding: 15px;
		padding-bottom: 0;
		margin-bottom: 0;
		input {
			font-size: 12pt;
			padding: .5rem 2px .5rem 10px;
			outline: none;
			border: none;
			background-color: $background-color_8;
			width: 16rem;
		}
		button {
			font-size: 12pt;
			padding: .5rem 3rem;
			margin-bottom: 15px;
			outline: none;
			border: none;
			font-weight: bold;
			background-color: $background-color_2;
			color: $color_4;
			cursor: pointer;
		}
	}
	.group {
		flex-direction: column;
	}
	.acknowledge {
		font-family: $font-family_3;
		text-transform: none;
		font-size: 10pt;
		line-height: 20px;
		font-weight: 400;
		color: $color_6;
		width: 90%;
	}
	footer {
		height: auto;
		min-height: 40vh;
		padding: 5px 2rem;
	}
}
@media (max-width:1024px) {
	header {
		display: none;
	}
	.resize-header {
		display: flex;
	}
	.main {
		height: auto;
		min-height: 100vh;
		padding-bottom: 25px;
		.hero-img {
			img {
				min-width: 350px;
			}
		}
		h5 {
			color: $color_4;
			margin-top: 30px;
			font-size: 30px;
			font-weight: 500;
		}
	}
	.fixed-background {
		.overlay {
			position: relative;
			width: 100%;
			height: auto;
		}
	}
	.second-sect {
		height: auto;
		min-height: 30vh;
		align-items: center;
		text-align: center;
		width: 100%;
		padding: 20px;
		background-position: center right;
		h1 {
			text-transform: uppercase;
			color: $color_4;
			font-size: 3rem;
			font-weight: 500;
			line-height: 3rem;
			width: 350px;
			br {
				display: none;
			}
		}
		p {
			font-family: $font-family_4;
			font-weight: bold;
			margin-top: 10px;
			font-size: 12pt;
			line-height: 25px;
		}
	}
	p {
		text-transform: uppercase;
		color: $color_4;
	}
	.third-sect {
		height: auto;
		width: 100%;
	}
	.grid-container {
		height: 100%;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
	.grid-item {
		height: 400px;
	}
	.contents {
		h2 {
			font-size: 2.4rem;
			font-weight: 100;
		}
		p {
			font-weight: 300;
			font-size: 12pt;
			line-height: 25px;
			width: 75%;
		}
	}
	.fourth-sect {
		height: auto;
		min-height: 65vh;
		flex-direction: column;
		padding: 3rem 3rem;
		h2 {
			color: $color_5;
			font-size: 2rem;
			font-weight: 100;
		}
		p {
			font-size: 12pt;
			line-height: 25px;
			width: 100%;
		}
	}
	.speaker-img {
		background-image: url(images/speaker.png);
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		margin-right: 5rem;
	}
	.fourth-cont {
		margin-top: 15px;
	}
	.fifth-sect {
		height: auto;
		min-height: 100vh;
		text-align: center;
		align-items: center;
		h1 {
			font-size: 3rem;
			font-weight: 100;
			line-height: 3rem;
		}
		img {
			width: 300px;
			margin-bottom: 25px;
		}
		h2 {
			font-size: 2rem;
		}
	}
	.new-grid {
		align-items: center;
		text-align: center;
		display: flex;
		flex-direction: column;
		padding: 15px;
		width: 90%;
		grid-template-columns: repeat(1, 1fr);
	}
	.grid-items {
		padding: 25px;
		height: auto;
		max-width: 450px;
		min-height: 200px;
		align-items: center;
		text-align: left;
		justify-content: left;
		h1 {
			font-size: 8rem;
		}
		p {
			font-size: 12pt;
			line-height: 25px;
			text-align: left;
		}
	}
	.watch {
		height: auto;
		min-height: 100vh;
	}
	.sixth-sect {
		height: auto;
		min-height: 40vh;
		flex-direction: column;
		padding: 15px 3rem;
	}
	.sect6-img {
		display: none;
	}
	.sixth-writeup {
		h1 {
			color: $color_4;
			font-size: 3rem;
			font-weight: 100;
		}
		p {
			font-size: 12pt;
			line-height: 25px;
			width: 100%;
		}
	}
	.subscribe {
		height: auto;
		min-height: 45vh;
		padding: 25px;
		form {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}
		input {
			font-family: $font-family_3;
			font-size: 12pt;
			padding: .5rem 2px .5rem 10px;
			outline: none;
			border: none;
		}
		button {
			font-family: $font-family_3;
			font-size: 14pt;
			padding: .5rem 1rem;
			outline: none;
			border: none;
			font-weight: bold;
			background-color: $background-color_2;
			color: $color_4;
			cursor: pointer;
		}
	}
	.sub-writeups {
		align-items: center;
		text-align: center;
		padding: 0 25px;
		p {
			font-size: 12pt;
			line-height: 25px;
		}
	}
	.contact2 {
		height: auto;
		min-height: 50vh;
		background-color: $background-color_7;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 15px;
		padding-bottom: 0;
		margin-bottom: 0;
	}
	.acknowledge {
		font-family: $font-family_3;
		text-transform: none;
		font-size: 10pt;
		line-height: 20px;
		font-weight: 400;
		margin-bottom: 15px;
		color: $color_6;
		width: 90%;
	}
	footer {
		height: auto;
		min-height: 40vh;
		padding: 5px 2rem;
	}
}
@media (max-width:1500px) {
	.speaker-img {
		min-height: auto;
		background-image: url(images/speaker.png);
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		margin-right: 3rem;
	}
	.fourth-sect {
		p {
			font-family: $font-family_3;
			text-transform: none;
			font-size: 14pt;
			line-height: 25px;
			width: 100%;
		}
	}
}
